<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>カメラを使用します</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>アプリに画像を追加します</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>写真をフォルダに保存します</string>
</dict>
</plist>
